border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments


.spacer
	padding-bottom 40px

#login .error, 
#register .error
#serverMessage{
	background:#890000;
	padding:5px 10px;	
	color:#fff;
	text-shadow:#500 0 1px 0;
	white-space:nowrap;
	border:1px solid #500;
	border-radius 3px;
	-moz-box-shadow:0 0 5px #700;
	-webkit-box-shadow:0 0 5px #700;
	box-shadow:0 0 5px #700;
}

#login .error, 
#register .error{
	font-size:11px;
	text-align:left;
}


#serverMessage{
	margin: auto;
	font-size:12px;
	text-align:center;
}

.searchResults
	padding: 20px
	background-color: #F6F6F6;	
	width: 100%
	height: 50%

.searchResults img
	height: 140px

.profilehead
	background-color: #EEBB88
.profilehead
	img
		height: 200px
.profilebody
	background-color: #3FFFFF
	padding-top: 20px

.centerbox
	margin: 5% 30%

.assignmentbox
	padding: 10px;
	border: 1px solid;
	border-color: #999;
	box-shadow: 3px  3px 1px #888;
	background-color: #aaa;
// span.stars, span.stars span {
// 	padding-top: 10px;
//     display: block;
//     background: url(/images/stars.png) 0 -16px repeat-x;
//     width: 80px;
//     height: 32px;
// }

// span.stars span {
//     background-position: 0 0;
// }