extends layout 
block head
	title Find Mentors
block content
	.container
		.spacer
		h2 Search Parameters:
		form#search(action='/findMentors', method='POST')
			.row
				.span3.offset1	
					label(for='firstname') First Name:
					input#firstname(type='text', name='firstname', class="field")
				.span3
					label(for='lastname') Last Name: 
					input#lastname(type='text', name='lastname', class="field")
			.row
				.span3.offset1
					label(for='areas') Subject Areas (Separate with commas): 
					input#areas(type='text', name='areas', class="field")
			.row
				.span3.offset1
					label(for='minRating') Minimum Rating(out of 5)
					input#minRating(name='minRating', type="number", min="0", max="5", step="0.5", value ="3")
				.span3.offset2.submit
					button.btn.btn-large#searchButton(type='submit') Search!
		.searchResults
			- if(typeof locals.results !== 'undefined')
				include partials/searchResults
			- else
				p No results.
block scripts
	script(src="/javascript/searchform.js") 

		