extends user-layout
mixin lesson(lesson)
	tr
		td #{lesson.name} 
		td #{lesson.mentor}
		td #{lesson.dateStarted}
block type
	h3 Student
block connections
	h2 Lessons
	- if(typeof locals.lessons!== 'undefined')
		lessons = locals.lessons
		table.table
			thead
				tr
					th Name
					th Mentor
					th Date Started
			tbody
				-each lesson in lessons
					mixin lesson(lesson)
	- else
		p This student has not been mentored by anyone.
		
		